body {
  background: black;
}

.App {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.slick-slide {
  width: 5%;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-dots > li {
  background: gray;
  border-radius: 10em;
  z-index: 100;
  position: relative;
}



.slick-dots li button {
  background: white;
}

.card {
  border: 1px solid #fff;
  background: black;
  border-radius: 8px;
  overflow: hidden;
  color: #fff;
  cursor: pointer;
}

.card-top > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background: black;
}

.card-top {
  text-align: center;
}

.card-top h1 {
  font-size: 1.2rem;
  margin: 20px;
  font-weight: 600;
}

.card-bottom {
  font-size: 1.1rem;
  text-align: center;
  margin: 10px 20px;
  font-weight: 600;
}

@media (max-width: 520px) {
  .App {
    display: none;
  }
}
