.Footer {
  margin-top: 8em;
  padding-top: 4em;
  background: #131416;
  padding-bottom: 4em;
}

.footer-dvd {
  display: flex;
}

.left-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.footer-text ul {
  padding: 0;
  font-size: 1.2rem;
}

.footer-text li {
  padding: 0.2em 0;
}

.footer-text h1 {
  font-size: 3.3rem;
  word-spacing: 0.1em;
}

.contact-list {
  padding-top: 1em;
}

.list-footer {
  display: flex;
  align-items: center;
}

.list-footer a {
  color: white;
}

.icon-ft {
  font-size: 1.5em;
  margin-right: 1em;
  background: #198754;
  padding: 0.1em;
  border-radius: 5em;
}

.right-form {
  width: 50%;
}

@media (max-width: 960px) {
  .left-text {
    width: 100%;
    justify-content: flex-start;
    padding: 1em;
  }
  .right-form {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 650px) {
  .footer-dvd {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .left-text {
    padding: 1em;
  }

  .footer-text h1:last-of-type {
    font-size: 2.5em;
  }
}
