.form-sec {
  display: flex;
  flex-direction: column;
}

.form-sec input {
  width: 30%;
  margin: 1em;
  margin-bottom: 0;
  padding: 0.5em;
  color: white;
  background: black;
}

.form-sec textarea {
  width: 50%;
  margin-top: 2em;
  margin-left: 1em;
  background: black;
}

.form-sec-1 p {
  margin-left: 1em;
}

@media (max-width: 960px) {
  .form-sec {
    align-items: center;
  }

  .form-sec-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 73%;
  }
}

@media (max-width: 960px) {
  .form-sec-1 {
    width: 100%;
    flex-direction: column;
  }

  .form-sec-1 input {
    width: 80%;
  }

  .form-sec textarea {
    width: 80%;
    margin-top: 2em;
    margin-left: 0;
    background: black;
  }
}

@media (max-width: 430px) {
  .form-sec-1 {
    width: 100%;
    flex-direction: column;
  }

  .form-sec-1 input {
    width: 80%;
  }

  .form-sec textarea {
    width: 80%;
    margin-top: 2em;
    margin-left: 0;
    background: black;
  }
}
