.socialMedias {
  display: flex;
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 99;
}

.smList {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(48, 47, 47);
  height: 50px;
  margin-bottom: 0.5em;
  right: -135px;
  border-radius: 0.3em;
}

.smList:hover {
  right: -5px;
  border-radius: 0.5em;
  transition-duration: 1s;
}

.socialLink {
  color: white;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  font-size: 24px;
  text-decoration: none;
  padding: 0 1em;
}

@media (max-width: 432px) {
  .smList {
    right: -165px;
  }
  .socialLink {
    padding: 0 0.3em;
  }
}
