@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.20');
    box-shadow: theme('boxShadow.xl');
  }
  /* ... */
}

a {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1120px;
}

.nav-position {
  position: fixed;
  width: 100%;
  z-index: 99;
}

.Navbar {
  padding: 0.7em 3em;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar a {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
}

.Navbar ul {
  margin-bottom: 0;
}

.hero-sec {
  background: url(./Component/Images/code-3.jpg) center center no-repeat;
  height: 810px;
}
.hero-text {
  padding-top: 160px;
  padding-left: 50px;
  width: 50%;
}

.hero-sec-btn {
  width: 150px;
  border: none;
  box-shadow: inset 0 0 0 0 red;
  transition: ease 0.5s;
  outline: none;
}

.hero-sec-btn:hover {
  box-shadow: inset 150px 0px 18px 0px red;
}

.about-sec-heading {
  position: relative;
}

.about-sec-heading:after {
  border-bottom: 2px solid #00af73;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 60px;
  width: 100px;
}

.Scnd-img {
  margin: 0 auto;
}

.Scnd-img img {
  width: 87%;
  height: 360px;
  border-radius: 20em;
  margin: auto;
}

.About-text {
  font-size: 1rem;
  width: 70%;
}

.personal-info {
  width: 60%;
}

.about-sec-dvd {
  display: flex;
}

.service-sec-h1 {
  padding: 0;
}

.service-sec {
  background-color: #131416;
  padding-top: 40px;
}

.service-sec-heading {
  position: relative;
}

.service-sec-heading:after {
  border-bottom: 2px solid #00af73;
  bottom: 0;
  content: '';
  left: 0px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 60px;
  width: 100px;
}

.card {
  width: 341px;
  border-radius: 0;
  padding: 1.2em;
  padding-bottom: 0;
  border: none;
}

.service-card h1 {
  font-size: 1.2em;
  padding: 5px 0;
}

.services {
  width: 100%;
  margin: 0 auto;
  margin-top: 3em;
  padding-bottom: 2em;
}

.top-service-sec {
  padding: 0;
  padding-bottom: 15px;
}

.icon-1 {
  font-size: 3.5rem;
  margin: 10px 0;
}

.experience-sec-heading {
  padding: 1em;
  padding-bottom: 0.4em;
}

.experience-sec-heading {
  position: relative;
}

.experience-sec-heading:after {
  border-bottom: 2px solid #00af73;
  bottom: 0;
  content: '';
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 50px;
  width: 100px;
}

.experience-sec {
  padding-top: 1em;
}

.top-exp-sec {
  margin: 0 auto;
  margin-top: 1em;
}
.exp-sec-1 {
  width: 48%;
  background: #131416;
  padding: 2em;
}

.exp-sec-1 h1 {
  font-size: 1.7rem;
  font-weight: 600;
  padding-bottom: 0.2em;
}

.exp-sec-1 span {
  font-size: 1.1rem;
  color: #6c757d;
}

.exp-sec-1 span::after {
  content: ' | ';
}

.exp-span {
  border-bottom: 1px solid #6c757d;
  padding-bottom: 0.5em;
}

.exp-sec-1 p {
  font-size: 1.1rem;
  color: #6c757d;
  font-weight: 500;
  margin-top: 0.5em;
}

.Educ {
  background: #131416;
  margin-top: 3em;
}

.educational-sec-heading {
  position: relative;
}

.educational-sec-heading:after {
  position: absolute;
  margin: 0 auto;
  width: 250px;
  left: 0;
  right: 0;
  top: 110px;
  color: #00af73;
  content: '';
  border-bottom: 2px solid #00af73;
  bottom: 0;
  content: '';
}

.passing-years {
  width: 35%;
  background: black;
  padding: 1em;
}

.Skills-sec {
  padding-top: 2em;
  padding-bottom: 2em;
}

.skill-prnct {
  width: 60%;
  flex-direction: column;
  justify-content: space-between;
}

.pas-body {
  color: aliceblue;
  border-bottom: 1px solid gray;
  padding-bottom: 0.7em;
  margin-bottom: 0.7em;
}

.pas-body:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.pas-body h1 {
  font-size: 1.3rem;
  font-weight: 500;
}

.pas-body p:first-of-type {
  width: 30%;
  background: #00af73;
  text-align: center;
}

.pas-body p:last-of-type {
  color: #e9ecef;
  font-weight: 600;
}

.bar {
  display: flex;
  align-items: center;
}
.bar h1 {
  font-size: 1rem;
}
.bar span {
  font-size: 1.5rem;
  padding-right: 10px;
}

.progress-bar-1 {
  width: 100%;
  background: #131416;
  height: 10px;
  position: relative;
}

.progress-bar-1 span {
  background: #00af73;
  width: 90%;
  position: absolute;
  height: 100%;
}
.progress-bar-2 {
  width: 100%;
  background: #131416;
  height: 10px;
  position: relative;
}

.progress-bar-2 span {
  background: #00af73;
  width: 85%;
  position: absolute;
  height: 100%;
}
.progress-bar-3 {
  width: 100%;
  background: #131416;
  height: 10px;
  position: relative;
}

.progress-bar-3 span {
  background: #00af73;
  width: 80%;
  position: absolute;
  height: 100%;
}
.progress-bar-4 {
  width: 100%;
  background: #131416;
  height: 10px;
  position: relative;
}

.progress-bar-4 span {
  background: #00af73;
  width: 84%;
  position: absolute;
  height: 100%;
}
.progress-bar-5 {
  width: 100%;
  background: #131416;
  height: 10px;
  position: relative;
}

.progress-bar-5 span {
  background: #00af73;
  width: 80%;
  position: absolute;
  height: 100%;
}

.portfolio {
  background: #131416;
}

.portfolio-sec-ul {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.portfolio-sec-li {
  padding: 0 2em;
}

.clientImg img {
  width: 1000px;
  height: 100px;
}

@media (max-width: 1578px) {
  .personal-info {
    width: 75%;
  }
}

@media (max-width: 1360px) {
  .personal-info {
    width: 85%;
  }
}

@media (max-width: 1260px) {
  .about-sec-dvd {
    display: flex;
    flex-direction: column;
  }

  .Scnd-img {
    padding-top: 4em;
    padding-bottom: 0;
  }

  .about-text-down {
    text-align: center;
    padding-top: 3em;
    width: 100%;
  }

  .About-text {
    width: 100%;
  }

  .personal-info {
    width: 70%;
    margin: 0 auto;
  }

  .personal-info h1 {
    text-align: center;
  }

  .about-sec-heading {
    text-align: center;
  }

  .about-sec-heading:after {
    margin: 0 auto;
    left: -130px;
  }
}

@media (max-width: 1200px) {
  .top-service-sec .card {
    width: 32%;
  }
  .down-service-sec .card {
    width: 32%;
  }
}

@media (max-width: 1150px) {
  .hero-text {
    width: 100%;
  }
}

@media (max-width: 1023px) {
  .Scnd-img img {
    width: 90%;
    height: 440px;
    border-radius: 18rem;
  }
}

@media (max-width: 992px) {
  .top-service-sec {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }
  .top-service-sec .card {
    width: 50%;
    margin-bottom: 1em;
  }

  .down-service-sec {
    flex-direction: column;
    align-items: center;
  }
  .down-service-sec .card {
    width: 50%;
    margin-bottom: 1em;
  }
}

@media (max-width: 960px) {
  .About-text {
    width: 100%;
  }

  .about-text-down {
    width: 100%;
    padding: 0;
  }

  .about-text-down h1 {
    text-align: center;
  }

  .personal-info {
    width: 100%;
  }

  .personal-info > div {
    justify-content: space-around;
  }

  .prs-text p {
    padding: 0 auto;
  }

  .pas-body p:first-of-type {
    width: 30%;
    text-align: center;
    padding: 0;
  }

  .Scnd-img img {
    width: 530px;
    height: 540px;
    border-radius: 18rem;
  }

  .top-service-sec {
    flex-direction: column;
  }

  .down-service-sec {
    flex-direction: column;
    margin: 0;
  }

  .card {
    width: 65%;
    margin: 0 auto;
    margin-bottom: 1.5em;
    padding: 2em;
  }

  .top-exp-sec {
    flex-direction: column;
  }
  .exp-sec-1 {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2em;
  }

  .Skills-sec {
    flex-direction: column;
  }

  .passing-years {
    width: 90%;
    margin: 3em auto;
  }
  .skill-prnct {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 3em;
  }
  .bar {
    padding-bottom: 1em;
  }
  .bar:last-child {
    padding-bottom: 0;
  }
  .pas-body {
    text-align: center;
  }
  .pas-body p:first-of-type {
    width: 20%;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  .pas-body P:last-of-type {
    margin-bottom: 0;
  }
}

@media (max-width: 775px) {
  .top-service-sec .card {
    width: 62%;
    margin-bottom: 1em;
  }
  .down-service-sec .card {
    width: 62%;
    margin-bottom: 1em;
  }

  .top-service-sec {
    flex-direction: column;
  }

  .down-service-sec {
    flex-direction: column;
    margin: 0;
  }

  .card {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1.5em;
    padding: 2em;
  }
}

@media (max-width: 630px) {
  .Scnd-img {
    padding-bottom: 2em;
  }

  .Scnd-img img {
    width: 400px;
    height: 380px;
    border-radius: 18rem;
  }
}

@media (max-width: 460px) {
  .top-service-sec .card {
    width: 90%;
    margin-bottom: 1em;
  }
  .down-service-sec .card {
    width: 90%;
    margin-bottom: 1em;
  }

  .hero-span {
    width: 100%;
  }

  .hero-sec {
    height: 650px;
  }

  .hero-sec-btn {
    margin: 0;
    margin-top: 3em;
    padding: 0;
  }

  .hero-text {
    padding-top: 3em;
    padding-left: 0;
    width: 100%;
  }

  .Scnd-img {
    padding-top: 4em;
    padding-bottom: 2em;
  }

  .Scnd-img img {
    width: 95%;
    height: 193px;
  }

  .info-about-sec {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .prs-text {
    text-align: center;
    width: 80%;
  }

  .exp-sec-1 {
    padding: 1em;
    width: 100%;
  }

  .passing-years {
    width: 85%;
  }
  .pas-body p:first-of-type {
    width: 50%;
    text-align: center;
    padding-left: 0;
  }
}
